.stages {
	
	background-color: @bg-color;
	
	&__wrapper {
		max-width: @max-width;	
		margin: 0 auto;
		padding: 10px;
	}

	&__header {
		text-align: center;
	}

	&__items {
		display: flex;
		flex-direction: column;		
	}

	&__item {
		text-align: center;
		margin-bottom: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}
		
	&__icon {		
		width: 100%;
	}

}

@media @tablets {

	.stages {

		&__items {
			display: flex;
			flex-direction: row;
		}

		&__item {
			width: 33%;
			text-align: center;
		}
		
	}

}